pre.rouge table td { padding: 5px; }
pre.rouge table pre { margin: 0; }
pre.rouge .c, pre.rouge .ch, pre.rouge .cd, pre.rouge .cpf {
  color: #5e5d83;
  font-style: italic;
}
pre.rouge .cm {
  color: #5e5d83;
  font-style: italic;
}
pre.rouge .c1 {
  color: #5e5d83;
  font-style: italic;
}
pre.rouge .cp {
  color: #465457;
  font-weight: bold;
}
pre.rouge .cs {
  color: #465457;
  font-weight: bold;
  font-style: italic;
}
pre.rouge .err {
  color: #f8f8f2;
  background-color: #403d3d;
}
pre.rouge .gi {
  color: #a6e22e;
}
pre.rouge .gd {
  color: #f92672;
}
pre.rouge .ge {
  font-style: italic;
}
pre.rouge .ges {
  font-weight: bold;
  font-style: italic;
}
pre.rouge .gr {
  color: #f92672;
}
pre.rouge .gt {
  color: #f92672;
}
pre.rouge .gh {
  color: #403d3d;
}
pre.rouge .go {
  color: #403d3d;
}
pre.rouge .gp {
  color: #66d9ef;
}
pre.rouge .gs {
  font-weight: bold;
}
pre.rouge .gu {
  color: #465457;
}
pre.rouge .k, pre.rouge .kv {
  color: #66d9ef;
  font-weight: bold;
}
pre.rouge .kc {
  color: #66d9ef;
  font-weight: bold;
}
pre.rouge .kd {
  color: #66d9ef;
  font-weight: bold;
}
pre.rouge .kp {
  color: #66d9ef;
  font-weight: bold;
}
pre.rouge .kr {
  color: #66d9ef;
  font-weight: bold;
}
pre.rouge .kt {
  color: #66d9ef;
  font-weight: bold;
}
pre.rouge .kn {
  color: #f92672;
  font-weight: bold;
}
pre.rouge .ow {
  color: #f92672;
  font-weight: bold;
}
pre.rouge .o {
  color: #f92672;
  font-weight: bold;
}
pre.rouge .mf {
  color: #af87ff;
}
pre.rouge .mh {
  color: #af87ff;
}
pre.rouge .il {
  color: #af87ff;
}
pre.rouge .mi {
  color: #af87ff;
}
pre.rouge .mo {
  color: #af87ff;
}
pre.rouge .m, pre.rouge .mb, pre.rouge .mx {
  color: #af87ff;
}
pre.rouge .se {
  color: #af87ff;
}
pre.rouge .sb {
  color: #d7d787;
}
pre.rouge .sc {
  color: #d7d787;
}
pre.rouge .sd {
  color: #d7d787;
}
pre.rouge .s2 {
  color: #d7d787;
}
pre.rouge .sh {
  color: #d7d787;
}
pre.rouge .si {
  color: #d7d787;
}
pre.rouge .sx {
  color: #d7d787;
}
pre.rouge .sr {
  color: #d7d787;
}
pre.rouge .s1 {
  color: #d7d787;
}
pre.rouge .ss {
  color: #d7d787;
}
pre.rouge .s, pre.rouge .sa, pre.rouge .dl {
  color: #d7d787;
}
pre.rouge .na {
  color: #a6e22e;
}
pre.rouge .nc {
  color: #a6e22e;
  font-weight: bold;
}
pre.rouge .nd {
  color: #a6e22e;
  font-weight: bold;
}
pre.rouge .ne {
  color: #a6e22e;
  font-weight: bold;
}
pre.rouge .nf, pre.rouge .fm {
  color: #a6e22e;
  font-weight: bold;
}
pre.rouge .no {
  color: #66d9ef;
}
pre.rouge .bp {
  color: #f8f8f2;
}
pre.rouge .nb {
  color: #f8f8f2;
}
pre.rouge .ni {
  color: #f8f8f2;
}
pre.rouge .nn {
  color: #f8f8f2;
}
pre.rouge .vc {
  color: #f8f8f2;
}
pre.rouge .vg {
  color: #f8f8f2;
}
pre.rouge .vi {
  color: #f8f8f2;
}
pre.rouge .nv, pre.rouge .vm {
  color: #f8f8f2;
}
pre.rouge .w {
  color: #f8f8f2;
}
pre.rouge .nl {
  color: #f8f8f2;
  font-weight: bold;
}
pre.rouge .nt {
  color: #f92672;
}
pre.rouge {
  color: #f8f8f2;
  background-color: #1b1d1e;
}